In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
%matplotlib inline

In [5]:
pickle_in = open("../data/nitrate.pickle", "rb")
nitrate = pickle.load(pickle_in)
nitrate.describe()

,Year,Yday,Hour,PRESSURE,TEMPERATURE_VALUE,SALINITY_VALUE,NITRATE_VALUE
count,1.319300e+04,1.319300e+04,1.319300e+04,1.319300e+04,1.319300e+04,1.319300e+04,13193.000000
mean,-1.516629e-15,-6.032046e-17,3.446884e-17,3.231453e-17,-1.271038e-15,7.471120e-15,3.982172
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.744430
min,-1.890652e+00,-1.788631e+00,-2.791508e-01,-1.220091e+00,-3.093349e+00,-2.213066e+01,0.020000
25%,-6.959712e-01,-8.599608e-01,-2.791508e-01,-7.283696e-01,-7.209295e-01,-4.641692e-01,0.700000
50%,-5.268161e-02,4.936176e-02,-2.791508e-01,9.212555e-03,-1.211264e-01,8.688615e-02,2.600000
75%,4.987095e-01,8.426006e-01,-2.791508e-01,6.238643e-01,6.143669e-01,5.878456e-01,6.900000
max,3.347563e+00,1.732576e+00,3.810519e+00,6.155730e+00,3.440528e+00,3.186572e+00,25.800000

In [13]:
pickle_in = open("../data/oxygen.pickle", "rb")
oxygen = pickle.load(pickle_in)
oxygen.describe()

,Year,Yday,Hour,PRESSURE,TEMPERATURE_VALUE,SALINITY_VALUE,OXYGEN_VALUE
count,1.297000e+04,1.297000e+04,12970.000000,1.297000e+04,1.297000e+04,1.297000e+04,12970.000000
mean,-8.204386e-15,1.314805e-16,0.000000,8.765369e-18,4.908607e-16,4.382685e-15,218.042145
std,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,23.011995
min,-2.068154e+00,-1.740584e+00,-0.035143,-1.160867e+00,-3.063763e+00,-2.152486e+01,109.900000
25%,-7.616786e-01,-8.740841e-01,-0.035143,-6.733490e-01,-7.213280e-01,-4.605411e-01,199.690000
50%,6.971469e-02,3.050335e-02,-0.035143,-1.858306e-01,-1.073420e-01,1.113958e-01,222.920000
75%,7.823375e-01,8.684370e-01,-0.035143,5.454471e-01,6.431659e-01,5.981507e-01,234.980000
max,1.732501e+00,1.725415e+00,28.452813,6.151909e+00,3.317628e+00,3.074516e+00,324.320000

In [4]:
pickle_in = open("../data/phosphate.pickle", "rb")
phosphate = pickle.load(pickle_in)
phosphate.describe()

,Year,Yday,Hour,PRESSURE,TEMPERATURE_VALUE,SALINITY_VALUE,PHOSPHATE_VALUE
count,1.344200e+04,1.344200e+04,1.344200e+04,1.344200e+04,1.344200e+04,1.344200e+04,13442.000000
mean,-5.751157e-15,1.289781e-16,3.383033e-17,1.310925e-16,6.512339e-16,1.483460e-14,0.393668
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.229132
min,-1.820391e+00,-1.735299e+00,-1.533166e-01,-1.164005e+00,-3.068838e+00,-2.170491e+01,0.020000
25%,-7.284460e-01,-8.793183e-01,-1.533166e-01,-6.729665e-01,-7.236718e-01,-4.543995e-01,0.210000
50%,6.569602e-02,3.372752e-02,-1.533166e-01,-1.819279e-01,-1.093627e-01,1.162898e-01,0.330000
75%,5.620348e-01,8.706862e-01,-1.533166e-01,5.546300e-01,6.419206e-01,5.887960e-01,0.570000
max,3.837871e+00,1.726667e+00,6.809120e+00,6.201574e+00,3.319146e+00,3.104738e+00,1.800000

In [5]:
pickle_in = open("../data/silicate.pickle", "rb")
silicate = pickle.load(pickle_in)
silicate.describe()

,Year,Yday,Hour,PRESSURE,TEMPERATURE_VALUE,SALINITY_VALUE,SILICATE_VALUE
count,8.350000e+03,8.350000e+03,8.350000e+03,8.350000e+03,8.350000e+03,8.350000e+03,8350.000000
mean,9.986742e-15,3.935641e-17,5.446076e-17,-8.722231e-17,-3.539949e-16,9.499999e-15,2.496484
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.822564
min,-1.194051e+00,-1.813677e+00,-3.916272e-01,-1.205799e+00,-3.035820e+00,-1.666316e+01,0.030000
25%,-7.716737e-01,-8.617497e-01,-3.916272e-01,-7.365930e-01,-7.234027e-01,-4.634432e-01,1.100000
50%,-2.437018e-01,6.073672e-02,-3.916272e-01,-3.278455e-02,-1.399654e-01,9.869190e-02,2.000000
75%,2.842702e-01,8.360179e-01,-3.916272e-01,5.537225e-01,5.949309e-01,5.905601e-01,3.600000
max,3.240913e+00,1.758504e+00,2.723774e+00,5.832286e+00,3.321194e+00,2.142820e+00,15.200000